<h2>Signup up via GoCardless!</h2>

<form action="/gocardless/submit" method="POST">
  <h3>Enter your email to subscribe</h3>
  <input type="text" name="email">
  <input type="submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
</form>